<h2> Edit a Book</h2>
<h4><%= @book.title %> by <%=@book.author.name%></h4>
<form action="/books/<%=@book.id%>" method="POST">
  <input id ="hidden" type="hidden" name"_method" value="PATCH">
  Title:<input id="title" type="text" name="title" value="<%=@book.title%>">
  <br></br>
  Author:<input id="name" type="text" name="name" value="<%=@book.author.name%>">
  <br></br>
  <br><input type = "submit" value="Make Edit">
</form>
<br>
  <button type="submit"><a href="/books/menu">Main Menu</a></button>
